version: '3'
services:
    mkdocs:
        container_name: mkdocs
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        volumes:
            - .:/grupo1-docs